<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} &#64; Steven Magaña-Zook&#39;s Digital Portfolio</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Steven <br />Magaña-Zook&#39;s <br />Digital Portfolio</h1>
        <p>Computation for the public good</p>
<p class="view"><a href="https://www.linkedin.com/in/stevenmaganazook"><img src="images/LinkedInLogo.png" alt="The LinkedIn Logo" height="12px"/>
View My LinkedIn Profile</a></p>

        <p class="view"><a href="https://github.com/stevenmz"><img src="images/GitHub_Logo.png" alt="The GitHub Logo" height="12px"/>View My GitHub Profile</a></p>
        <p class="view"><a href="http://stackoverflow.com/users/534347/steven-magana-zook"><img src="images/so-icon.png" alt="The Stack Overflow Logo" height="24px"/>View My Stack Overflow Profile</a></p>


&rarr;<a href="/index.html">Portfolio</a> <br/>

			&nbsp;&nbsp;&nbsp;&nbsp;&#9635;<a href="/index.html#OpenSource">Open Source Contributions</a><br/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&#9635;<a href="/index.html#Presentations">Presentations</a><br/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&#9635;<a href="/index.html#DataScienceProjects">Data Science Projects</a><br/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&#9635;<a href="/index.html#DesktopAppProjects">Desktop Application Projects</a><br/>
			
			&nbsp;&nbsp;&nbsp;&nbsp;&#9635;<a href="/index.html#AndroidAppProjects">Android Application Projects</a><br/><br/>
			
&rarr;<a href="/About.html">About me</a><br/>


      </header>
      <section>
